
body{
    color: rgb(0, 0, 0);
}

/*img {
  width: 100%;
  height:fit-content;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #000;
}
*/
.img-pint {
  width: 60px;
  height: 60px;
}

.imageconf {
    width: 100%;
    height:fit-content;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #000;
}

div {
    display: grid;
    grid-template-columns: repeat(
        auto-fit, minmax(150px, 1fr)
    );
    gap: 32px;
    align-items: stretch;
    width: 70%;
    margin: 0 auto;
}

.navegacion_pint {
    width: 60%;
    margin: 30px 70px;
    display: flex;
  }

  .logopin {
    width: 45px;
    background-color: #f000;
  }
 
  .inputpint {
    width: 800px;
    border-radius: 15px;
    background-color: #e6e6e6;
    height: 44px;
  }

  .btn-pint {
    background-color: black;
    color: white;
    padding: 0px 20px;
    border-radius: 55px;
    width: 120px;
    font-size: 19px;
    font-weight: bolder;
  }


  a {
    padding-top: 15px;
    font-weight: bold;
    font-size: 19px;
  }